# database connection string
# format: postgresql://username:password@host:port/database_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=devpass
POSTGRES_DB=fednow

DATABASE_URL=postgresql://postgres:devpass@localhost:5432/fednow

KAFKA_BROKERS=localhost:9092